@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --base-white: #fff;
    --base-black: #000;

    --button-primary: #00FF75;

    --text-primary: #BAFFD3;
}




/* Section 3*/
.section-3__content {
    margin-bottom: 47px;
}
.section-3__one {
    margin-bottom: 37px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}
.section-3__logo {
    margin-right: 25px;
}
.section-3__logo--title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 21px;
}
.section-3__upload {
    background-color: #242424;
    padding: 115px;
    border-radius: 12px;
}
.section-3__upload--banner {
    background-color: #242424;
    padding: 115px 351px;
    border-radius: 12px;
}
.section-3__two--title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 37px;
}
.section-3__input label {
    width: 100%;
}
.section-4__input label {
    width: 100%;
}
.section-3__input input {
    background-color: #242424;
    border-radius: 12px;
    padding: 16px 44px;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF80;
}
.section-4__two--title {
    margin-top: 37px;
}
.section-4__four--title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin: 37px 0;
}
.section-4__five--title {
    display: flex;
    justify-content: start;
    align-items: center;
}
.section-4__five--title div {
    margin-right: 13px;
}

.section-4__input textarea {
    background-color: #242424;
    border-radius: 12px;
    padding: 16px 44px;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF80;
    height: 291px;
}
.section-3__nine {
    margin-top: 37px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nine__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3__nine button {
    border: 1px solid #0CCF65;
    background-color: #043119;
    color: #0CCF65;
    font-weight: 800;
    font-size: 24px;
    border-radius: 30px;
    padding: 10px 76px;
}

/* End Section 3*/



