@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@media (min-width: 1440px) {
    .custom-container {
        width: 100%;
        margin: 0 auto;
        max-width: 1440px;
    }

    .inner-section {
        padding: 0 123px 0 123px;
        margin: 0 50px;
    }
}
body {
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: 30%;
    bottom: 0;
    background-image: url('../images/bg-index.jpg');
    background-repeat: repeat;
    opacity: 0.05;
    z-index: -1;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}

body {
    background-color: #000;
}



/* Header  */
.header {
    margin-bottom: 49px;
}

.inner-header {
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 32px;
}

.inner-link {
    display: flex;
}
.inner-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #BBF7D085;
}

.inner-link .active a {
    color: #BBF7D0!important;
}

.inner-home {
    padding: 10px 12px;
}

.inner-yourAccount {
    padding: 10px 12px;
}

.inner-howWork {
    padding: 10px 12px;
}

.inner-docs {
    padding: 10px 12px;
}

.inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.inner-connect {
    display: flex;
}

.inner-left {
    display: flex;
    background-color: #00A51B;
    padding: 4px 12px;
    border-radius: 5px;
    margin-right: 10px;
}

.inner-left .content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.inner-right {
    display: flex;
    background-color: #08A150;
    padding: 4px 12px;
    border-radius: 5px;
}

.inner-right .content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.inner-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-icon {
    display: flex;
    padding: 4px 16px;
    background-color: #043119;
    height: 32px;
    border-radius: 5px;
    align-items: center;
    margin-right: 8px;
}

.inner-line {
    height: 100%;
    border: 0.73px solid #BBF7D0;
    margin-left: 14px;
    margin-right: 14px;
}

.inner-int {
    border: 1px solid #00FF75;
    background-color: #043119;
    color: #0EE572;
    padding: 14px 24px 14px 16px;
    border-radius: 30px;
    display: flex;
}

.inner-round {
    width: 25.67px;
    height: 25.67px;
    background-color: #08A150;
    border-radius: 50%;
    margin-right: 12px;
}

/* End Header  */



/* section 1 */
.section-1__content {
    margin: 0px auto;
}

.section-1__intro {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    align-items: center;
}

.section-1__icon {
    box-shadow: 0px 2px 18.5px 0px #00C434;
    border-radius: 50%;
    border: 2px solid #000000;
}

.section-1__intro .icon-1 {
    margin-right: 14px;
}

.section-1__intro .icon-2 {
    margin-left: 14px;
}

.section-1__title {
    font-weight: 900;
    font-size: 54px;
    color: #BAFFD3;
    display: flex;
    /* Sử dụng flexbox để các chữ nằm trên cùng một dòng */
    align-items: center;
    /* Căn giữa các chữ theo chiều dọc */
}

.section-1__title span {
    text-shadow: 0px 0px 50px #00C434;
    letter-spacing: -0em;
    /* Giảm khoảng cách giữa các chữ */
}

.section-1__title p {
    width: 15px;
}

/* End section 1 */



/* section 2 */
.section-2 {
    margin-bottom: 44px;
}
.section-2__content .section-2__info .step-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-back {
    border: 1px solid #00FF75;
    background-color: #043119;
    display: inline-flex; /* Sử dụng inline-flex để nút co giãn theo nội dung */
    align-items: center; /* Căn giữa nội dung bên trong theo chiều dọc */
    background-color: #043119;
    border-radius: 24px;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 16px;
    color: #0EE572;
    text-decoration: none; /* Loại bỏ gạch chân nếu là thẻ <a> */
    cursor: pointer; /* Hiển thị con trỏ khi hover */
}
.section-2__btn {
    display: flex;
    margin-bottom: 41px;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100%; /* Đảm bảo phần tử cha có chiều cao đầy đủ */
}
.inner-arrow {
    margin-right: 12px;
}
/*.step {*/
/*    display: inline-flex;*/
/*}*/
.step .section-2__active {
    background-color: #BBF7D0!important;

}
.step  .section-2__step {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    border: 0.63px solid #0CCF65;
    border-radius: 18px;
    font-weight: 800;
    padding: 6px 16px;
    font-size: 15.43px;
    color: #042312;
    width: 255px;
    box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
    background-color: #668470;
}
.section-2__process--active {
    background-color: #0CCF65!important;
}
.section-2__process {
    border: 0.7px solid #0CCF65;
    border-radius: 21px;
    background-color: #5A5A5A;
    margin-top: 17px;
    height: 12px;
}

/* end section 2 */




/* footer */
.footer {
    background-color: #0B0B0B;
    position: relative;
    overflow: hidden; /* Đảm bảo hiệu ứng blur không tràn ra ngoài */
}
.footer__content {
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left {
    padding: 24px 0;
}
.footer__logo {
    margin-bottom: 24px;

}
.footer__des {
    color: #DBE1F599;
    font-weight: 400;
    margin-bottom: 60px;
    font-size: 24px;
}
.footer__about {
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}

.footer__product, .footer__us, .footer__com {
    flex: 1;
    margin-right: 60px;
}

.footer__product div, .footer__us div, .footer__com div {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: white;
}

.footer__product ol, .footer__us ol, .footer__com ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__product ol li, .footer__us ol li, .footer__com ol li {
    margin-bottom: 12px;
}

.footer__product ol li a, .footer__us ol li a, .footer__com ol li a {
    text-decoration: none;
    color: #CBCBE8BF;
    font-weight: 400;
    font-size: 16px;
}
.footer__copyright {
    border-top: 1px solid #C4A3FF33;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    color: white;
    align-items: center;
}

.blur {
    position: absolute;
    box-shadow: 0 0 6000px 200px #071C11;
    left: 50%;
}

/* end footer */



/* Push */
.push {
    position: fixed;
    right: 16px;
    bottom: 56px;
    display: inline-flex;
    padding: 8px;
    background-color: #121312;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px #00FF0A;
    cursor: pointer;
    z-index: 1000; /* Đảm bảo nút hiển thị trên các phần tử khác */
}
/* End Push */