/* Section 3*/
.section-3__content {
    margin: -5px auto 0 auto;
    text-align: center;
}

.section-3__title {
    font-weight: 600;
    font-size: 24px;
    color: white;
    margin-bottom: 21px;
}

.section-3__desc {
    font-weight: 700;
    font-size: 20px;
    color: #797979;
    margin-bottom: 21px;
}

.section-3__left {
    background-color: #043119;
    border: 1px solid #0CCF65;
    border-radius: 30px;
    padding: 10px 160px;
    color: #0CCF65;
    font-weight: 800;
    font-size: 24px;
    margin-right: 23px;
}

.section-3__right {
    border: 1px solid #FF0004;
    background-color: #FFBAB0;
    border-radius: 30px;
    padding: 10px 160px;
    color: #FF0004;
    font-weight: 800;
    font-size: 24px;
    opacity: 0.5;
}

/* End Section 3*/



/* Section 4 */
.section-4__content {
    margin-bottom: 21px;
}

.section-4__title {
    margin: 21px 0;
    color: #797979;
    font-weight: 700;
    font-size: 20px;
}

.section-4__left {
    width: 30%;
    border: 1px solid #808080;
    margin-right: 12px;
    /* max-height: 657px; */
    /* height: 657px; */
}

.section-4__left--head {
    padding: 13px 8px 18px 13px;
    border-bottom: 1px solid #808080;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-4__left--head .option__left select {
    border: 1px solid #4A4A4A;
    color: #CACACA;
    font-weight: 500;
    font-size: 13px;
    background-color: #171717;
    padding: 7px 11px;
    outline: 0;
}

.desc__section-4 {
    cursor: pointer;
}

.company-list {
    list-style-type: none;
    padding-left: 0;
    max-height: 657px;
    /* Đặt chiều cao tối đa nếu cần */
    overflow-y: auto;
    /* Kích hoạt thanh cuộn dọc */
    scrollbar-width: thin;
    scrollbar-color: #3D3D3D transparent;
    /* Màu của thanh cuộn và nền */
}

/* Tùy chỉnh thanh cuộn cho trình duyệt WebKit (Chrome, Safari) */
.company-list::-webkit-scrollbar {
    width: 5px !important;
    /* Độ rộng của thanh cuộn */
}

.company-list::-webkit-scrollbar-track {
    background: #3D3D3D;
    /* Màu nền của thanh cuộn */
}

.company-list::-webkit-scrollbar-thumb {
    background-color: #3D3D3D;
    /* Màu của thanh cuộn */
    border-radius: 4px;
    /* Bo góc thanh cuộn */
}

/* Kiểu nút active */
#company-list li.active {
    background-color: #3D3D3D;
    /* Màu nền khi active */
    border-radius: 4px;
    /* Bo góc */
    position: relative;
}

.scroll-option {
    display: none;
}

#company-list li.active .scroll-option {
    position: absolute;
    width: 5px;
    display: inline;
    left: 2px;
    border-radius: 4px;
    height: 32px;
    background-color: #BAFFD3;
}

/* Tùy chỉnh hover cho các mục */
.company-list li:hover {
    background-color: #BAFFD3;
    /* Màu nền khi hover */
    cursor: pointer;
    /* Đổi con trỏ thành bàn tay */
}

.company-list li {
    padding: 6px 4px;
}

.company-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0C0C0C;
    border-bottom: 0.77px solid #3D3D3D;
}

.company-list .detail {
    display: flex;
    padding-left: 4px;
    align-items: center;
}

.company-list .detail img {
    margin-right: 8px;
}

.company-list .number {
    color: #CACACA;
    font-weight: 400;
    font-size: 15px;
}

.title__content-4 {
    color: #CACACA;
    font-weight: 600;
    font-size: 16px;
}

.section-4__right {
    flex: 1;
    position: relative;
    padding: 34px 37px 52px 37px;
    border: 1px solid #545454;
    background-color: #0C0C0C;

}

.section-4__search {
    position: relative;
    margin-bottom: 24px;
}

.section-4__search input {
    border: 1.22px solid #666666;
    background-color: #171717;
    padding: 10px 0 10px 34px;
    color: #CACACA;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}

.section-4__search svg {
    position: absolute;
    left: 10px;
    top: 10px;
}


.card {
    background-color: #111;
    border: 1px solid #333;
    margin-bottom: 1rem;
    padding: 24px 16px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.card-body .info {
    display: flex;
    align-items: center;
}

.card-body .info img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}
.card-footer {
    padding: 0;
    margin-top: 12px;
}   
.info_content {
    display: flex;
    padding: 0;
    justify-content: start;
    align-items: center;
}
.data-source {
    margin-right: 12.45px;
    color: #CACACA;
    font-weight: 400;
    font-size: 14px;
}
.info_content span img {
    margin-right: 7px;
}
.info_content .name__info {
    color: #CACACA;
    display: flex;
        align-items: center;
    font-weight: 600;
    font-size: 13px;
}
.tit {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17.3px;
}
.item {
    width: calc(50% - 5px);
}
.list__item {
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
}
.card-body .status {
    display: flex;
    align-items: center;
}
.card {
    display: flex;
    border-radius: 0;
    margin: 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #888;
    background-color: transparent;
    cursor: pointer;
    border: 1.24px solid #4A4A4A;
    display: inline-block;
}
input[type="checkbox"]:checked+label::after {
    content: "✔";
    color: #BBF7D0;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body .status input::placeholder {
    color: #777;
}


.form-control {
    background-color: #333;
    color: #888;
    margin-top: 12px;
    border: none;
    font-style: italic;
}

.form-control::placeholder {
    color: #888;
}

.icon-box {
    width: 30px;
    height: 30px;
    border: 2px solid #888;
}

.highlight {
    color: #888888;
    text-decoration: underline;
}

.section-4__nine {
    margin-top: 21px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 227px;
}

.nine__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4__nine button {
    border: 1px solid #0CCF65;
    background-color: #043119;
    color: #0CCF65;
    font-weight: 800;
    font-size: 24px;
    border-radius: 30px;
    padding: 10px 76px;
}

.section-4__pagination {
    position: absolute;
    right: 37px;
    bottom: -24px;
}

.pagination-container {
    background-color: #171717;
    border: 1.61px solid #666666;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container .page-link {
    color: #4a4a4a;
    font-size: 16px;
}

.pagination-container .page-link.active {
    color: #aaffaa;
}

.pagination-container .page-number {
    color: #cccccc;
    font-size: 16px;
    margin: 0 5px;
}


/* End  Section 4 */